4.-ruchi:-[market-data]-competitor-tracker-+-analysis-MJaefAyLHA2aDRY1.json
{"createdAt":"2025-11-10T06:48:22.158Z","updatedAt":"2025-11-10T06:48:22.158Z","id":"MJaefAyLHA2aDRY1","name":"4. RUCHI: [MARKET DATA] Competitor Tracker + Analysis","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"493de6e3-e7a8-43ae-881d-f18676722352","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[1380,-20],"typeVersion":1.1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"a","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{"trimValues":true,"cleanUpText":true}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[360,-20],"id":"54d44c39-2fdf-4ba4-9cdc-8c4848dbe87f","name":"HTML"},{"parameters":{"fieldToSplitOut":"links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[760,-20],"id":"56205644-0888-46c3-a9dc-95fcba6d8652","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a75bc22-f6b3-426e-96df-db5e319e5cd5","leftValue":"={{ $json.links }}","rightValue":"={{ $('URL Extractor').item.json.message.content }}","operator":{"type":"string","operation":"startsWith"}},{"id":"683ccc55-6ef4-48f9-8bb1-34e9de40bb7f","leftValue":"={{ $json.links }}","rightValue":"privacy","operator":{"type":"string","operation":"notContains"}},{"id":"90bef66a-dff4-4d3c-b662-7699654889a0","leftValue":"={{ $json.links }}","rightValue":"contact","operator":{"type":"string","operation":"notContains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[980,-20],"id":"dbddbad9-9dc2-48e4-9f78-4458855a3a9f","name":"Filter"},{"parameters":{"url":"={{ $json['Competitor URL'] }}","options":{"allowUnauthorizedCerts":false,"redirect":{"redirect":{}}}},"id":"4097f4ab-2be9-4daa-b249-9950c45093fa","name":"Scrape Home","type":"n8n-nodes-base.httpRequest","position":[160,-20],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"message.content.abstract"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1560,-20],"id":"7b4246d2-c049-4569-bc91-452fb418c6ec","name":"Aggregate"},{"parameters":{"jsCode":"const items = $input.all();\n\nconst updatedItems = items.map((item) => {\n  const link = item?.json?.links;\n\n  if (typeof link === \"string\") {\n    // Case: starts with \"/\" → already relative\n    if (link.startsWith(\"/\")) {\n      item.json.links = link;\n    } \n    \n    // Case: absolute URL (http or https)\n    else if (link.startsWith(\"http://\") || link.startsWith(\"https://\")) {\n      try {\n        const url = new URL(link);\n        let path = url.pathname;\n\n        // Strip trailing slash unless root \"/\"\n        if (path !== \"/\" && path.endsWith(\"/\")) {\n          path = path.slice(0, -1);\n        }\n\n        item.json.links = path || \"/\";\n      } catch (e) {\n        // On parse error, keep original\n        item.json.links = link;\n      }\n    }\n\n    // Fallback: not relative or absolute, leave as-is\n    else {\n      item.json.links = link;\n    }\n  }\n\n  return item;\n});\n\nreturn updatedItems;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1160,-20],"id":"10f548d1-d9b9-4a47-9ba1-09800e3b9b8f","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"d2eb1588-87d2-43b2-8356-7bfe754c7707","name":"website_url","value":"={{ $('URL Extractor').item.json.message.content }}","type":"string"},{"id":"40fd7130-c65d-4826-a713-ecca24d23b07","name":"links","value":"={{ $json.links }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,-20],"id":"733d730e-3657-4d7f-93d4-f3a877302582","name":"Links"},{"parameters":{"content":"## Scrape Page Links","height":260,"width":1580,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,-120],"id":"00184a1f-45aa-4102-b024-b5106041aa8e","name":"Sticky Note"},{"parameters":{"url":"=https://serpapi.com/search.json?engine=google&q={{ $json['Search Query'] }}&api_key=9012930c80160a0300d9a858633fee37ea1d95ed322774060d30e77e17c8cb68","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,280],"id":"0780b4af-8795-43b1-a0e3-319883e9d2a3","name":"SERPapi Search 1","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6dc0d13c-225d-4235-ae1c-9ec1cf23554e","name":"organic_results","value":"={{ $json.organic_results }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,280],"id":"0630cbd4-d864-4664-8540-ddd8026b8042","name":"Related1","alwaysOutputData":true},{"parameters":{"jsCode":"const results = $input.first().json.organic_results.slice(0, 3);\n\nconst output = results.map(result => {\n  return {\n    json: {\n      link: result.link || '',\n      source: result.source || ''\n    }\n  };\n});\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,280],"id":"528bfaf9-5166-49bf-be9e-95c0b1498a56","name":"Split1"},{"parameters":{"content":"## Search Top 3 Results","height":240,"width":1700,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,200],"id":"64b3e8c1-8b3c-4aac-b682-78e5af8ea95e","name":"Sticky Note15"},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items.map(item => {\n  const raw = item.json.message?.content?.abstract || '';\n\n  const cleaned = raw\n    .replace(/[\\r\\n]+/g, ' ')   // Replace newlines with space\n    .replace(/\\s{2,}/g, ' ')    // Collapse multiple spaces\n    .replace(/\"/g, '\"\"')        // Escape quotes\n    .trim();\n\n  return {\n    json: {\n      Abstract: cleaned\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2940,-20],"id":"88ae1f68-8e2f-40f1-a9f1-873979e95b73","name":"Code 4 Clean2"},{"parameters":{"url":"={{ $json.URL }}","options":{}},"id":"51c038e6-ba96-4a33-b782-87be9a0b8116","name":"Request web page for URL1","type":"n8n-nodes-base.httpRequest","position":[2200,-20],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=You're a helpful, intelligent website scraping assistant.","role":"system"},{"content":"=You're provided a Markdown scrape of a website page. Your task is to provide a two-paragraph abstract of what this page is about.\n\nReturn in this JSON format:\n\n{\"abstract\":\"your abstract goes here\"}\n\nRules:\n- Your extract should be comprehensive—similar level of detail as an abstract to a published paper.\n- Use a straightforward, spartan tone of voice.\n- If it's empty, just say \"no content\"."},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[2600,-20],"id":"5886839a-df10-48a1-9328-91640b9b46a2","name":"Summarize Website Page1","disabled":true},{"parameters":{"html":"={{ $json.data ? $json.data : \"<div>empty</div>\" }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[2380,-20],"id":"f01ef9d8-4710-45cf-9fc9-d240c18d6ff1","name":"Markdown"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3340,-20],"id":"0103c32d-ee63-43de-b685-853341dd8c2f","name":"Wait5","webhookId":"2590fc43-2a6c-4361-bc3b-fb75001ce21a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1780,-20],"id":"f4f4542c-2d1b-4efa-8739-ea5350c53da3","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"=URL","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1980,-20],"id":"b516cf04-ca28-40d6-b12a-2f2f573457fa","name":"Split Out2","alwaysOutputData":true},{"parameters":{"content":"## Scrape Page Links","height":260,"width":1760,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1720,-120],"id":"2f5d8873-2c9b-4894-924a-a673bfefd894","name":"Sticky Note16"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=You are an SEO & Content Analyst, specializing in {{ $json['Target Keywords'] }}. \n\nYou are responsible for using todays analysis of the top query to generate a search query that's aligned with the analysis, is something relevant to the query, but also **distinct, focused, and optimized for Google Search intent**.","role":"system"},{"content":"=Generate a Google Search Query using the following keyword data below. The query should be related to AI and prompt to image generation. \n\nKeyword: {{ $json['Target Keywords'] }}\n\nRules: \n- Your output must ONLY be the search query. \n- Do not include phrases that won't be used in the search, like \"Google Search Query\".\n- Your search query must be 2-5 words.\n- Do not include \"quotes\", colons :, or dashes -."},{"content":"=## Additional Rules\nDo not include \"AI Image Generation\" in your output(s)"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,280],"id":"11450c77-5d3f-4250-8baf-97a68f113d32","name":"Search Query2","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"GPT-3.5-TURBO"},"messages":{"values":[{"content":"=You are an SEO & Content Analyst, specializing in {{ $json['Target Keywords'] }}. \n\nYou are responsible for using todays analysis of the top query to generate a search query that's aligned with the analysis, is something relevant to the query, but also **distinct, focused, and optimized for Google Search intent**.","role":"system"},{"content":"=Generate a Google Search Query using the following keyword data below. The query should be related to AI and prompt to image generation. \n\nKeyword: {{ $json['Target Keywords'] }}\n\nRules: \n- Your output must ONLY be the search query. \n- Do not include phrases that won't be used in the search, like \"Google Search Query\".\n- Your search query must be 2-5 words.\n- Do not include \"quotes\", colons :, or dashes -."},{"content":"=## Additional Rules\nDo not include \"AI Image Generation\" in your output(s)"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1320,280],"id":"903af732-c887-4858-9bee-0e52637572ca","name":"Analyze Organic Search Results"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1660,280],"id":"6a8303fc-f085-48e1-89cb-d16d64a3e212","name":"Add SEO Results"},{"parameters":{"url":"https://www.amazon.com/dp/{{$json.asin}}/ref=cm_cr_arp_d_product_top?ie=UTF8&reviewerType=all_reviews","options":{}},"id":"9089a076-9fb3-488d-a913-2ddbdeab9001","name":"Amazon Review Scraper","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[580,540]},{"parameters":{"url":"https://www.reddit.com/r/{{$json.subreddit}}/hot.json?limit=50","options":{}},"id":"b3f7265c-4b3e-4264-84b6-108ae485b9c6","name":"Reddit Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[580,700]},{"parameters":{"url":"https://www.similarweb.com/api/v1/website/{{$json.competitor_domain}}/traffic","authentication":"headerAuth","options":{}},"id":"96640bef-4c5e-437a-a66c-eda63b2895f2","name":"Competitor Research","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[580,860]},{"parameters":{"model":"gpt-4","options":{},"requestOptions":{}},"id":"6b109c44-198c-4c70-9b1e-1092a1d0946f","name":"AI ICP Generator","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[780,700]},{"parameters":{"options":{}},"id":"bd592e00-cc1e-4861-bca7-ff22a28ee4ee","name":"Configuration Data","type":"n8n-nodes-base.set","typeVersion":3,"position":[360,700]},{"parameters":{"content":"## Market Sentiment\n","height":560,"width":1180},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,480],"id":"cedecba6-b27a-4361-b364-067760920224","name":"Sticky Note8"},{"parameters":{"model":"gpt-4","options":{},"requestOptions":{}},"id":"047bd9c1-b4de-49a6-8385-e93a2bf248a2","name":"Product Market Fit Analysis","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[980,700]},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,700],"id":"bb484470-24bc-45f6-b2c4-9787f54f5c56","name":"Get Market & ICP Data","disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g","mode":"list","cachedResultName":"Facebook Ad Analyzer DB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2054281706,"mode":"list","cachedResultName":"Prepared Hero Ads Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g/edit#gid=2054281706"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[360,1160],"id":"05136264-1dd0-4d0b-b7b2-1450db0fbe73","name":"Get Ad Data"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[580,1160],"id":"ba356370-40f3-4ced-b6f2-9e8f0ba95879","name":"Ad Metrics"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[780,1160],"id":"dab9c875-3d0e-464c-a53a-af87ad5bb2f4","name":"Get Page Data"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1000,1160],"id":"ab602ce1-15a9-4d8c-b3cf-0b4a0129c6ea","name":"Page Data"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1420,1160],"id":"97612d34-eb36-4f07-8a8a-9750978b83ff","name":"Market Sentiment","disabled":true},{"parameters":{"operation":"replaceText","presentationId":"={{ $json.id }}","textUi":{"textValues":[{"text":"{{proposalTitle}}","replaceText":"={{ $('OpenAI').item.json.message.content.proposalTitle }}"},{"text":"{{descriptionName}}","replaceText":"={{ $('OpenAI').item.json.message.content.descriptionName }}"},{"text":"{{oneParagraphProblemSummary}}","replaceText":"={{ $('OpenAI').item.json.message.content.oneParagraphProblemSummary }}"},{"text":"{{solutionHeadingOne}}","replaceText":"={{ $('OpenAI').item.json.message.content.solutionHeadingOne }}"},{"text":"{{solutionHeadingTwo}}","replaceText":"={{ $('OpenAI').item.json.message.content.solutionHeadingTwo }}"},{"text":"{{solutionHeadingThree}}","replaceText":"={{ $('OpenAI').item.json.message.content.solutionHeadingThree }}"},{"text":"{{solutionDescriptionOne}}","replaceText":"={{ $('OpenAI').item.json.message.content.solutionDescriptionOne }}"},{"text":"{{solutionDescriptionTwo}}","replaceText":"={{ $('OpenAI').item.json.message.content.solutionDescriptionTwo }}"},{"text":"{{solutionDescriptionThree}}","replaceText":"={{ $('OpenAI').item.json.message.content.solutionDescriptionThree }}"},{"text":"{{shortScopeTitleOne}}","replaceText":"={{ $('OpenAI').item.json.message.content.shortScopeTitleOne }}"},{"text":"{{shortScopeTitleTwo}}","replaceText":"={{ $('OpenAI').item.json.message.content.shortScopeTitleTwo }}"},{"text":"{{shortScopeTitleThree}}","replaceText":"={{ $('OpenAI').item.json.message.content.shortScopeTitleThree }}"},{"text":"{{shortScopeDescriptionOne}}","replaceText":"={{ $('OpenAI').item.json.message.content.shortScopeDescriptionOne }}"},{"text":"{{shortScopeDescriptionTwo}}","replaceText":"={{ $('OpenAI').item.json.message.content.shortScopeDescriptionTwo }}"},{"text":"{{shortScopeDescriptionThree}}","replaceText":"={{ $('OpenAI').item.json.message.content.shortScopeDescriptionThree }}"},{"text":"{{milestoneOneDay}}","replaceText":"={{ $('OpenAI').item.json.message.content.milestoneOneDay }}"},{"text":"{{milestoneTwoDay}}","replaceText":"={{ $('OpenAI').item.json.message.content.milestoneTwoDay }}"},{"text":"{{milestoneThreeDay}}","replaceText":"={{ $('OpenAI').item.json.message.content.milestoneThreeDay }}"},{"text":"{{milestoneFourDay}}","replaceText":"={{ $('OpenAI').item.json.message.content.milestoneFourDay }}"},{"text":"{{milestoneDescriptionOne}}","replaceText":"={{ $('OpenAI').item.json.message.content.milestoneDescriptionOne }}"},{"text":"{{milestoneDescriptionTwo}}","replaceText":"={{ $('OpenAI').item.json.message.content.milestoneDescriptionTwo }}"},{"text":"{{milestoneDescriptionThree}}","replaceText":"={{ $('OpenAI').item.json.message.content.milestoneDescriptionThree }}"},{"text":"{{milestoneDescriptionFour}}","replaceText":"={{ $('OpenAI').item.json.message.content.milestoneDescriptionFour }}"},{"text":"{{cost}}","replaceText":"$1,850"}]},"options":{}},"type":"n8n-nodes-base.googleSlides","typeVersion":2,"position":[2280,1040],"id":"53b24e50-9051-49d6-ab90-85197aede6a6","name":"Replace Text","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are a helpful, intelligent writing assistant.","role":"system"},{"content":"Your task is to generate a proposal using input data from a form. This proposal should be highly customized, specific, and high-quality, considering we're going to be sending it immediately after you're done.\n\nContext: we are an automation/no-code agency that develops systems revolving around growth, revenue ops, etc.\n\nThe proposal template we're using has many fields. You must return these fields in one JSON object.\n\nUse this format:\n\n{\n  \"proposalTitle\": \"\",\n  \"descriptionName\": \"\",\n  \"oneParagraphProblemSummary\": \"\",\n  \"solutionHeadingOne\": \"\",\n  \"solutionDescriptionOne\": \"\",\n  \"solutionHeadingTwo\": \"\",\n  \"solutionDescriptionTwo\": \"\",\n  \"solutionHeadingThree\": \"\",\n  \"solutionDescriptionThree\":\"\",\n  \"shortScopeTitleOne\": \"\",\n  \"shortScopeTitleTwo\": \"\",\n  \"shortScopeTitleThree\": \"\",\n  \"shortScopeDescriptionOne\": \"\",\n  \"shortScopeDescriptionTwo\": \"\",\n  \"shortScopeDescriptionThree\": \"\",\n  \"milestoneOneDay\": \"\",\n  \"milestoneTwoDay\": \"\",\n  \"milestoneThreeDay\": \"\",\n  \"milestoneFourDay\": \"\",\n  \"milestoneDescriptionOne\": \"\",\n  \"milestoneDescriptionTwo\": \"\",\n  \"milestoneDescriptionThree\": \"\",\n  \"milestoneDescriptionFour\": \"\"\n}\n\nRules:\n1. Use a spartan, casual tone of voice.\n2. Be to-the-point but professional—assume you're writing to a sophisticated audience.\n3. Ensure that all fields are filled out. Do not miss a field or leave any variables empty.\n4. Keep things short. If a field contains the term \"Description\" it should be no more than fourteen words. For \"descriptionName\" do not use title case."},{"content":"={\n  \"companyName\":\"Rigify AI Solutions\",\n  \"problem\": \"they can't generate leads. everything is referral based rn.\",\n  \"solution\": \"cold email lead gen system, client reactivation system, and best in class sales training for closing\",\n  \"scope\": \"1k/day cold email infra, 30k email leads, 4 weekly zoom sessions for sales training\",\n  \"currentDate\":\"Feb 4 2025\",\n  \"howSoon\": \"two months\",\n  \"depositCost\": \"$1,845\",\n}"},{"content":"{\n  \"proposalTitle\": \"Lead Gen System for 1SecondCopy\n\",\n  \"descriptionName\": \"A simple, scalable lead generation system built to help grow your content efforts & connect you with the right people.\n\",\n  \"oneParagraphProblemSummary\": \"Right now, 1SecondCopy is struggling with an inability to generate qualified leads. The majority of your new clients are referral-based, which, while always nice to have, is not scalable nor is it reliable. Building an alternative strategy—one that allows you to take leads from cold -> close—is vital to the health and longevity of the company, and it’s what we’re going to help you with.\n\",\n  \"solutionHeadingOne\": \"Cold Outbound Lead Gen\",\n  \"solutionDescriptionOne\": \"We’ll put in place a robust cold-email-based system for you using best practices.\",\n  \"solutionHeadingTwo\": \"Client Reactivation System\",\n  \"solutionDescriptionTwo\": \"We’ll build a simple, but high-ROI reactivation system to let you extract value from pre-existing clients.\",\n  \"solutionHeadingThree\": \"Best-In-Class Sales Training\",\n  \"solutionDescriptionThree\": \"We’ll train your team with world-class setting & closing mechanisms.\",\n  \"shortScopeTitleOne\": Cold email infrastructure that sends ~1K emails/day\",\n  \"shortScopeTitleTwo\": \"30K high-quality scraped email leads (included)\",\n  \"shortScopeTitleThree\": \"Four weekly one-hour sales training sessions over Zoom\",\n  \"shortScopeDescriptionOne\": \"12 domains, 36 mailboxes, DNS optimization, and warmups included.\",\n  \"shortScopeDescriptionTwo\": \"30,000 leads in your target market, delivered by CSV.\",\n  \"shortScopeDescriptionThree\": \"We’ll take your sales team from 0->1.\",\n  \"milestoneOneDay\": \"February 8th, 2025\",\n  \"milestoneTwoDay\": \"February 28th, 2025\",\n  \"milestoneThreeDay\": \"March 10th, 2025\",\n  \"milestoneFourDay\":\"March 17th-April 1st, 2025\",\n  \"milestoneDescriptionOne\": \"Cold email system done & ready for warmup.\",\n  \"milestoneDescriptionTwo\": \"Cold email system fully warmed up & operational.\",\n  \"milestoneDescriptionThree\": \"10,000 outbound emails sent; analysis & training #1.\"\n  \"milestoneDescriptionFour\":\"One sales training per week alongside iteration & handoff.\"\n}","role":"assistant"},{"content":"={\n  \"companyName\":\"{{ $json['Company Name'] }}\",\n  \"problem\": \"{{ $json.Problem }}\",\n  \"solution\": \"{{ $json.Solution}}\",\n  \"scope\": \"{{ $json.Scope }}\",\n  \"currentDate\":\"{{ $now.toLocaleString({ dateStyle: 'medium' }) }}\",\n  \"howSoon\": \"{{ $json['How soon?'] }}\",\n  \"depositCost\": \"{{ $json.Cost }}\",\n}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1640,1160],"id":"bae55e6f-b8eb-4a86-894b-60d2ce5d6cd6","name":"OpenAI"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1fHzjDQtZouAwfv4kn5uvgpTWqwhTAlPrGkdtkbYBkNE","mode":"id"},"name":"={{ $json.message.content.proposalTitle }}","options":{"copyRequiresWriterPermission":false}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2060,1140],"id":"ae28126e-5b63-47b9-ad20-9fe984cb2f30","name":"Google Drive"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/1BtPBIcM2TvPNYSJN9yIU7vodFBqeFloRuWtlQL1Xjh4/edit?tab=t.0#heading=h.xuggrwqksbwi","actionsUi":{"actionFields":[{"action":"insert"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2280,1200],"id":"18eaa18a-781b-4d11-914f-19016caa4d57","name":"Update Doc"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2520,1120],"id":"72bd5d5a-c055-4fb7-a03e-d6c9fb505b35","name":"Extract from File"},{"parameters":{"resource":"thread","operation":"get","threadId":"=","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2920,1020],"id":"d1a0136a-c6bd-4ba7-9ad8-b455b8310f3a","name":"Gmail3","webhookId":"73f7e8ff-085b-4756-b1c9-c99de12b5146","disabled":true},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1220,1160],"id":"c8b37f9f-7541-4929-8dea-aa4f8a570fb0","name":"Organic Search Data"},{"parameters":{"content":"## Get Competitor Data","height":240,"width":1440,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[120,1080],"id":"ff8271ae-676d-45a1-b0a8-04c683b08e6e","name":"Get Customer Data"},{"parameters":{"content":"## Customer Analysis Report","height":420,"width":1308,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1940,980],"id":"a67c8f32-9259-40ac-9ce8-06daddb2ebb2","name":"Get Customer Data1"},{"parameters":{"documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,1160],"id":"0b6b5307-b3b1-4f83-a8ab-bd8d70131e80","name":"Get Lead/Prospect/Client Data","disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"Lead","operator":{"type":"string","operation":"equals"},"id":"1d0e30d6-28ab-42fa-a080-337874f084ad"}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a016054d-33f3-43b5-90ea-a117d29e461a","leftValue":"","rightValue":"Prospect","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Prospect"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5ddee0f-814f-4d95-a1a3-1300623ec5fd","leftValue":"","rightValue":"Client","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Client"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2700,1120],"id":"3efa9c45-f084-4b37-89c2-05cf7f88d44a","name":"Switch1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3100,1020],"id":"fbff1f54-5ec1-463e-9536-7e4f910677ca","name":"Gmail1","webhookId":"3b372008-d98c-4454-9241-f5dc86d4fdb5","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2920,1240],"id":"831bf712-0149-4f94-b907-b1b849a7f3c0","name":"Gmail2","webhookId":"3b372008-d98c-4454-9241-f5dc86d4fdb5","disabled":true},{"parameters":{"resource":"message","guildId":{"__rl":true,"mode":"list","value":""},"channelId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[3100,1240],"id":"c11a2488-4aa9-4ad4-9b4c-63bc18ba6c15","name":"Discord1","webhookId":"d915900c-cbb3-4e27-aa3d-11845f198334","disabled":true},{"parameters":{"content":"## Input \n\nhttps://stickyzoo.com/","height":220,"width":260},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-360,200],"id":"9525a617-deb3-4819-aa13-90e7a7c8ffb0","name":"Sticky Note9"},{"parameters":{"formTitle":"Form","formDescription":"Input Competitor URL","formFields":{"values":[{"fieldLabel":"Competitor URL","placeholder":"https://stickyzoo.com/"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-40,-20],"id":"80571303-bc39-43d3-a337-752da1e20dbf","name":"On form submission","webhookId":"f328efa4-1616-46cc-a475-70fe16416d85"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1Cxudr9saL8Pi43qnm_msw6kF2Beaf1hwgaobO9KHJ7A","mode":"list","cachedResultName":"Page Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cxudr9saL8Pi43qnm_msw6kF2Beaf1hwgaobO9KHJ7A/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Cxudr9saL8Pi43qnm_msw6kF2Beaf1hwgaobO9KHJ7A/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Body Content","displayName":"Body Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary","displayName":"Summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3160,-20],"id":"782cabb7-97eb-436e-8209-ce1b143128b8","name":"Save Page Data"},{"parameters":{"operation":"appendOrUpdate","documentId":"{{$credentials.google_sheets_icp_tracker}}","sheetName":"ICP_Analysis","columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"01e53145-b7d5-4119-ade1-83325d522c2c","name":"Save Organic Search Data","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1160,700]}],"connections":{"Remove Duplicate URLs":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Links","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Code","type":"main","index":0}]]},"Scrape Home":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Links":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"SERPapi Search 1":{"main":[[{"node":"Related1","type":"main","index":0}]]},"Related1":{"main":[[{"node":"Split1","type":"main","index":0}]]},"Split1":{"main":[[{"node":"Analyze Organic Search Results","type":"main","index":0}]]},"Code 4 Clean2":{"main":[[{"node":"Save Page Data","type":"main","index":0}]]},"Request web page for URL1":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Summarize Website Page1":{"main":[[{"node":"Code 4 Clean2","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Summarize Website Page1","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Request web page for URL1","type":"main","index":0}]]},"Search Query2":{"main":[[{"node":"SERPapi Search 1","type":"main","index":0}]]},"Analyze Organic Search Results":{"main":[[{"node":"Add SEO Results","type":"main","index":0}]]},"Amazon Review Scraper":{"main":[[{"node":"AI ICP Generator","type":"main","index":0}]]},"Reddit Analysis":{"main":[[{"node":"AI ICP Generator","type":"main","index":0}]]},"Competitor Research":{"main":[[{"node":"AI ICP Generator","type":"main","index":0}]]},"AI ICP Generator":{"main":[[{"node":"Product Market Fit Analysis","type":"main","index":0}]]},"Configuration Data":{"main":[[{"node":"Amazon Review Scraper","type":"main","index":0},{"node":"Reddit Analysis","type":"main","index":0},{"node":"Competitor Research","type":"main","index":0}]]},"Product Market Fit Analysis":{"main":[[{"node":"Save Organic Search Data","type":"main","index":0}]]},"Get Market & ICP Data":{"main":[[{"node":"Configuration Data","type":"main","index":0}]]},"Get Ad Data":{"main":[[{"node":"Ad Metrics","type":"main","index":0}]]},"Ad Metrics":{"main":[[{"node":"Get Page Data","type":"main","index":0}]]},"Get Page Data":{"main":[[{"node":"Page Data","type":"main","index":0}]]},"Page Data":{"main":[[{"node":"Organic Search Data","type":"main","index":0}]]},"Replace Text":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Replace Text","type":"main","index":0},{"node":"Update Doc","type":"main","index":0}]]},"Update Doc":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Gmail3":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"Organic Search Data":{"main":[[{"node":"Market Sentiment","type":"main","index":0}]]},"Get Lead/Prospect/Client Data":{"main":[[{"node":"Get Ad Data","type":"main","index":0}]]},"Switch1":{"main":[[],[],[{"node":"Discord1","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Search Query2","type":"main","index":0},{"node":"Scrape Home","type":"main","index":0},{"node":"Get Market & ICP Data","type":"main","index":0},{"node":"Get Lead/Prospect/Client Data","type":"main","index":0}]]},"Save Page Data":{"main":[[{"node":"Wait5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"On form submission":[{"json":{"Competitor URL":"https://preparedhero.com/","submittedAt":"2025-08-09T10:57:41.168+08:00","formMode":"test"}}]},"versionId":"de5f3441-2393-4267-8545-19cc63ae30d2","triggerCount":0,"tags":[]}