bubble-742POXYJTU7gH1gi.json
{"createdAt":"2025-09-03T10:27:00.852Z","updatedAt":"2025-09-11T13:00:14.000Z","id":"742POXYJTU7gH1gi","name":"Bubble","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"discord-data","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,-240],"id":"b6dbe9a0-551f-4f20-8069-95fd01d461dd","name":"Webhook","webhookId":"3f41cbe3-41ca-4ad5-9fe0-c91597dc5770","disabled":true},{"parameters":{"jsCode":"// Your array is coming in $json.body\nconst arr = $json.body ?? $json;\nif (!Array.isArray(arr)) {\n  throw new Error('Expected an array in $json.body');\n}\nreturn arr.map(m => ({ json: m }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,-240],"id":"73b59260-0e68-4642-92d7-e9f3e0659549","name":"Code","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-140,-240],"id":"081317b2-ee31-4cd9-8154-7576b3b21a61","name":"Remove Duplicates","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=You are a strict classifier. Output a single, MINIFIED JSON object only. No markdown, no prose.RETURN STRICT JSON only.\n\nTaxonomy:\n- job_post: hiring/RFP/bounty/gig seeking candidates or vendors (e.g., “we’re hiring”, “looking for job bidders”, “need a developer”, “apply”, “send CV”, “budget $X”, “timeline”, “scope”).\n- self_promotion: author sells services or is open to work; portfolio/website/availability; not hiring.\n- fake_apply: generic “interested/DM me/check inbox/I can do this” with no role details OR obvious low-effort “apply” bait; treat as fake_apply unless a genuine role description exists.\n- chat: greetings, discussions, announcements, questions; not hiring and not selling services.\n\nDecision rules:\n1) If the message is recruiting/looking for candidates/vendors or an RFP/bounty → job_post.\n2) Else if it’s a generic reply like “interested/DM sent/available” with no specifics → fake_apply.\n3) Else if the author is offering their own services or “open to work” or sharing portfolio → self_promotion.\n4) Else → chat.\n\nReturn EXACTLY:\n{\"classification\":\"job_post|self_promotion|fake_apply|chat\",\"reason\":\"<<= 15 words>\"}\n\nMessage:\nusername: {{$json.username}}\ntimestamp: {{$json.timestamp}}\ncontent:\n{{$json.content}}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[40,-240],"id":"dc31c6fe-c9e8-4edd-b35e-ddb9e9279472","name":"classify message","credentials":{"openAiApi":{"id":"Wx35DkSGLiGjWqlA","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"jsCode":"const out = [];\nfor (const item of items) {\n  const j = item.json;\n  const txt =\n    j.message?.content ??\n    j.response ??\n    j.text ??\n    (j.choices?.[0]?.message?.content ?? '');\n\n  let classification = 'other';\n  let reason = 'parse_error';\n  try {\n    const obj = JSON.parse(txt);\n    if (obj?.classification) classification = obj.classification;\n    if (obj?.reason)        reason = obj.reason;\n  } catch {}\n\n  out.push({ json: { ...j, classification, reason } });\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,-240],"id":"a1f894d4-2ee4-4626-980f-709698589fcf","name":"Parse classification JSON","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7accfe4b-a139-4152-acb1-2c1eac9c72ba","leftValue":"={{ $json.classification }}","rightValue":"job_post","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[40,-20],"id":"bcbe2dc0-605f-42da-bcc0-3fdc896adbc9","name":"If","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Write a concise, professional proposal for the opportunity below.\n- Audience: the original poster on Discord\n- Tone: friendly, credible, specific\n- Length: 180–250 words\n- Include: short intro, 3–5 bullet highlights of fit, brief plan, relevant stack, light CTA\n- Do NOT include rates unless the post mentions budget\n- Output plain text (no markdown)\n\nContext:\nusername: {{$json.username}}\ntimestamp: {{$json.timestamp}}\nmessage:\n{{$json.content}}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,-20],"id":"f4c212dc-300c-4d99-91a0-63116e501a6f","name":"Write proposal","credentials":{"openAiApi":{"id":"Wx35DkSGLiGjWqlA","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[240,-40],"id":"53fe3752-2d47-48ac-a9a1-0150449f2bb8","name":"Loop Over Items","disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-140,-20],"id":"68f64eae-7823-46cd-b234-48bd107331eb","name":"Merge","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY","mode":"list","cachedResultName":"discord-proposal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"proposal":"={{ $json.message.content }}","content":"={{ $('Loop Over Items').item.json.content }}","timestamp":"={{ $('Loop Over Items').item.json.timestamp }}","reason ":"={{ $('Loop Over Items').item.json.reason }}","classification":"={{ $('Loop Over Items').item.json.classification }}","username":"={{ $('Loop Over Items').item.json.username }}","discord_id":"={{ $('Loop Over Items').item.json.id }}","date":"{{ $now.toISO() }}"},"matchingColumns":["discord_id"],"schema":[{"id":"discord_id","displayName":"discord_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"classification","displayName":"classification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason ","displayName":"reason ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"proposal","displayName":"proposal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[780,-20],"id":"e3ce5dcc-7b17-4aa1-ab5b-4f0ba22f8e95","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"liFFQ9xuQcnZI4Lj","name":"Google Sheets account"}},"disabled":true},{"parameters":{"content":"## Discord-Proposal Flow","height":520,"width":1520},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-540,-340],"id":"8011fce2-cbcd-4646-8822-7303e597058e","name":"Sticky Note","disabled":true},{"parameters":{"operation":"getAll","subreddit":"Bubbleio","limit":10,"filters":{"category":"new"}},"type":"n8n-nodes-base.reddit","typeVersion":1,"position":[-340,360],"id":"9a9f82ae-05ff-4044-8367-4ace596d3d61","name":"Reddit","alwaysOutputData":true,"credentials":{"redditOAuth2Api":{"id":"sERK9BddLafuNI9Q","name":"Reddit account"}},"disabled":true},{"parameters":{"jsCode":"// Run Once for All Items\n// Take all Reddit posts and normalize into Discord-like schema\n\nfunction normalize(p) {\n  const id = p.id || p.name || '';\n  const createdIso = p.created_utc\n    ? new Date(p.created_utc * 1000).toISOString()\n    : new Date().toISOString();\n\n  return {\n    id: `reddit-${id}`,\n    username: p.author || 'unknown',\n    timestamp: createdIso,\n    content: `${p.title || ''}\\n\\n${p.selftext || ''}`.trim(),\n    server_id: null,\n    channel_id: p.subreddit || '',\n    channel_url: p.permalink ? `https://reddit.com${p.permalink}` : ''\n  };\n}\n\n// \"items\" is the array of all input items in this execution\nconst posts = items.map(i => i.json?.data ? i.json.data : i.json);\n\n// Convert each into an n8n item\nreturn posts.map(p => ({ json: normalize(p) }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,360],"id":"b06edd8f-4b41-44f2-9091-a855676e2d55","name":"Code1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[20,360],"id":"85ae2a72-4658-4257-b4c1-4cb009044914","name":"Remove Duplicates1","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=You are a strict classifier. Output a single, MINIFIED JSON object only. No markdown, no prose.RETURN STRICT JSON only.\n\nTaxonomy:\n- job_post: hiring/RFP/bounty/gig seeking candidates or vendors (e.g., “we’re hiring”, “looking for job bidders”, “need a developer”, “apply”, “send CV”, “budget $X”, “timeline”, “scope”).\n- self_promotion: author sells services or is open to work; portfolio/website/availability; not hiring.\n- fake_apply: generic “interested/DM me/check inbox/I can do this” with no role details OR obvious low-effort “apply” bait; treat as fake_apply unless a genuine role description exists.\n- chat: greetings, discussions, announcements, questions; not hiring and not selling services.\n\nDecision rules:\n1) If the message is recruiting/looking for candidates/vendors or an RFP/bounty → job_post.\n2) Else if it’s a generic reply like “interested/DM sent/available” with no specifics → fake_apply.\n3) Else if the author is offering their own services or “open to work” or sharing portfolio → self_promotion.\n4) Else → chat.\n\nReturn EXACTLY:\n{\"classification\":\"job_post|self_promotion|fake_apply|chat\",\"reason\":\"<<= 15 words>\"}\n\nMessage:\nusername: {{$json.username}}\ntimestamp: {{$json.timestamp}}\ncontent:\n{{$json.content}}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,360],"id":"51954861-a8b6-4f09-a25b-5e49e5fc298a","name":"classify message1","credentials":{"openAiApi":{"id":"Wx35DkSGLiGjWqlA","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"jsCode":"const out = [];\nfor (const item of items) {\n  const j = item.json;\n  const txt =\n    j.message?.content ??\n    j.response ??\n    j.text ??\n    (j.choices?.[0]?.message?.content ?? '');\n\n  let classification = 'other';\n  let reason = 'parse_error';\n  try {\n    const obj = JSON.parse(txt);\n    if (obj?.classification) classification = obj.classification;\n    if (obj?.reason)        reason = obj.reason;\n  } catch {}\n\n  out.push({ json: { ...j, classification, reason } });\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,360],"id":"b5c1382f-28f9-427b-9678-2ede71e6c524","name":"Parse classification JSON1","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7accfe4b-a139-4152-acb1-2c1eac9c72ba","leftValue":"={{ $json.classification }}","rightValue":"job_post","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,580],"id":"073d7955-e220-4f58-b5fd-f418a221923d","name":"If1","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Write a concise, professional proposal for the opportunity below.\n- Audience: the original poster on Discord\n- Tone: friendly, credible, specific\n- Length: 180–250 words\n- Include: short intro, 3–5 bullet highlights of fit, brief plan, relevant stack, light CTA\n- Do NOT include rates unless the post mentions budget\n- Output plain text (no markdown)\n\nContext:\nusername: {{$json.username}}\ntimestamp: {{$json.timestamp}}\nmessage:\n{{$json.content}}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[480,580],"id":"11cdcb46-6589-4e9d-a0f5-5bfa90204d51","name":"Write proposal1","credentials":{"openAiApi":{"id":"Wx35DkSGLiGjWqlA","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[260,560],"id":"d487bcd7-f4c7-40c8-a648-c1facf76c44e","name":"Loop Over Items1","disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-120,580],"id":"f0ea192a-046b-48af-820e-df0d23f62784","name":"Merge1","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY","mode":"list","cachedResultName":"discord-proposal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"proposal":"={{ $json.message.content }}","content":"={{ $('Loop Over Items1').item.json.content }}","timestamp":"={{ $('Loop Over Items1').item.json.timestamp }}","reason ":"={{ $('Loop Over Items1').item.json.reason }}","classification":"={{ $('Loop Over Items1').item.json.classification }}","username":"={{ $('Loop Over Items1').item.json.username }}","discord_id":"={{ $('Loop Over Items1').item.json.id }}","date":"{{ $now.toISO() }}"},"matchingColumns":["discord_id"],"schema":[{"id":"discord_id","displayName":"discord_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"classification","displayName":"classification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason ","displayName":"reason ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"proposal","displayName":"proposal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[800,580],"id":"2de01295-59a8-4e26-a197-7d6f9c62d6f9","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"liFFQ9xuQcnZI4Lj","name":"Google Sheets account"}},"disabled":true},{"parameters":{"content":"## Reddit-Proposal Flow","height":520,"width":1520,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,260],"id":"2fa8f5b7-1a99-4d1a-bc93-9119aa5a8027","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-500,360],"id":"9b7d5972-4c38-41d0-8519-9ccb22c0edc9","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"updates":["messages"],"options":{}},"type":"n8n-nodes-base.whatsAppTrigger","typeVersion":1,"position":[-500,1000],"id":"3fda016b-f7ea-436f-8a32-2f8c7e9127e4","name":"WhatsApp Trigger","webhookId":"70a1f66e-8692-4a0f-b3a5-eaa252c66dc9","credentials":{"whatsAppTriggerApi":{"id":"DnKvzU6Yemvr9Yew","name":"WhatsApp OAuth account"}},"disabled":true},{"parameters":{"content":"## WhatsApp-Proposal Flow","height":520,"width":1520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,880],"id":"54d9dc8b-336b-4d70-84b5-c28b10f53eae","name":"Sticky Note2"},{"parameters":{"jsCode":"// Run Once for All Items\n// Take WhatsApp webhook events and normalize into Discord-like schema\n\nfunction normalizeMessage(m, contacts = [], meta = {}) {\n  const contact =\n    contacts.find(c => c.wa_id === (m.from || m.wa_id)) ||\n    contacts[0] ||\n    {};\n\n  const senderName =\n    (contact.profile && contact.profile.name) ||\n    m.profile?.name ||\n    m.from ||\n    'unknown';\n\n  // WhatsApp timestamps are in seconds\n  const tsSec = Number(m.timestamp || 0) || Math.floor(Date.now() / 1000);\n  const createdIso = new Date(tsSec * 1000).toISOString();\n\n  // Prefer text body; fall back to other message-type bodies/captions if needed\n  const body =\n    (m.type === 'text' && m.text?.body) ||\n    m[m.type]?.body ||\n    m[m.type]?.caption ||\n    '';\n\n  // const forwardedPrefix = m.context?.forwarded ? '[forwarded]\\n' : '';\n\n  return {\n    id: `wa-${m.id || ''}`,\n    username: senderName,\n    timestamp: createdIso,\n    content: `${body}`.trim(),\n    server_id: null,\n    channel_id: meta.phone_number_id || '', // your business phone_number_id\n    channel_url: '' // WhatsApp has no public message URL\n  };\n}\n\n// Flatten all incoming WhatsApp messages from various payload shapes\nconst events = items.map(i => i.json);\nconst out = [];\n\n// Handle both official and simplified payloads\nfor (const evt of events) {\n  if (Array.isArray(evt.entry)) {\n    // Official Cloud API webhook shape\n    for (const en of evt.entry) {\n      for (const ch of (en.changes || [])) {\n        const val = ch.value || {};\n        const contacts = val.contacts || [];\n        const meta = val.metadata || {};\n        for (const m of (val.messages || [])) {\n          out.push({ json: normalizeMessage(m, contacts, meta) });\n        }\n      }\n    }\n  } else {\n    // Simplified shape like your sample\n    const contacts = evt.contacts || [];\n    const meta = evt.metadata || {};\n    for (const m of (evt.messages || [])) {\n      out.push({ json: normalizeMessage(m, contacts, meta) });\n    }\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,1000],"id":"ddd73616-18c8-49b4-bc9c-1294ce5316cb","name":"Code2","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-140,1000],"id":"ee2bb33a-bc6e-4f79-8020-f9e00855fe0a","name":"Remove Duplicates2","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=You are a strict classifier. Output a single, MINIFIED JSON object only. No markdown, no prose.RETURN STRICT JSON only.\n\nTaxonomy:\n- job_post: hiring/RFP/bounty/gig seeking candidates or vendors (e.g., “we’re hiring”, “looking for job bidders”, “need a developer”, “apply”, “send CV”, “budget $X”, “timeline”, “scope”).\n- self_promotion: author sells services or is open to work; portfolio/website/availability; not hiring.\n- fake_apply: generic “interested/DM me/check inbox/I can do this” with no role details OR obvious low-effort “apply” bait; treat as fake_apply unless a genuine role description exists.\n- chat: greetings, discussions, announcements, questions; not hiring and not selling services.\n\nDecision rules:\n1) If the message is recruiting/looking for candidates/vendors or an RFP/bounty → job_post.\n2) Else if it’s a generic reply like “interested/DM sent/available” with no specifics → fake_apply.\n3) Else if the author is offering their own services or “open to work” or sharing portfolio → self_promotion.\n4) Else → chat.\n\nReturn EXACTLY:\n{\"classification\":\"job_post|self_promotion|fake_apply|chat\",\"reason\":\"<<= 15 words>\"}\n\nMessage:\nusername: {{$json.username}}\ntimestamp: {{$json.timestamp}}\ncontent:\n{{$json.content}}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[40,1000],"id":"fc494d2c-06eb-4a02-9990-0dd353228ced","name":"classify message2","credentials":{"openAiApi":{"id":"Wx35DkSGLiGjWqlA","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"jsCode":"const out = [];\nfor (const item of items) {\n  const j = item.json;\n  const txt =\n    j.message?.content ??\n    j.response ??\n    j.text ??\n    (j.choices?.[0]?.message?.content ?? '');\n\n  let classification = 'other';\n  let reason = 'parse_error';\n  try {\n    const obj = JSON.parse(txt);\n    if (obj?.classification) classification = obj.classification;\n    if (obj?.reason)        reason = obj.reason;\n  } catch {}\n\n  out.push({ json: { ...j, classification, reason } });\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[380,1000],"id":"60f2bcd8-f1e5-4a24-970d-18c23f564334","name":"Parse classification JSON2","disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7accfe4b-a139-4152-acb1-2c1eac9c72ba","leftValue":"={{ $json.classification }}","rightValue":"job_post","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,1220],"id":"8eb5c863-8b5c-441a-8389-a88a60762d50","name":"If2","disabled":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Write a concise, professional proposal for the opportunity below.\n- Audience: the original poster on Discord\n- Tone: friendly, credible, specific\n- Length: 180–250 words\n- Include: short intro, 3–5 bullet highlights of fit, brief plan, relevant stack, light CTA\n- Do NOT include rates unless the post mentions budget\n- Output plain text (no markdown)\n\nContext:\nusername: {{$json.username}}\ntimestamp: {{$json.timestamp}}\nmessage:\n{{$json.content}}\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[520,1220],"id":"5ef1a6ba-eb48-485f-9c5f-3725c792904e","name":"Write proposal2","credentials":{"openAiApi":{"id":"Wx35DkSGLiGjWqlA","name":"OpenAi account 2"}},"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[300,1200],"id":"0b237664-ebf1-40ac-8882-81aea4ae5100","name":"Loop Over Items2","disabled":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-140,1220],"id":"982a49ac-fa1a-445d-b73a-033599fd4dc0","name":"Merge2","disabled":true},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY","mode":"list","cachedResultName":"discord-proposal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"proposal":"={{ $json.message.content }}","content":"={{ $('Loop Over Items2').item.json.content }}","timestamp":"={{ $('Loop Over Items2').item.json.timestamp }}","reason ":"={{ $('Loop Over Items2').item.json.reason }}","classification":"={{ $('Loop Over Items2').item.json.classification }}","username":"={{ $('Loop Over Items2').item.json.username }}","discord_id":"={{ $('Loop Over Items2').item.json.id }}","date":"={{ $now.toISO() }}"},"matchingColumns":["discord_id"],"schema":[{"id":"discord_id","displayName":"discord_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"classification","displayName":"classification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason ","displayName":"reason ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"proposal","displayName":"proposal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[840,1220],"id":"ac4e372f-a25a-4ea8-ac8a-68e2380427ac","name":"Google Sheets2","credentials":{"googleSheetsOAuth2Api":{"id":"liFFQ9xuQcnZI4Lj","name":"Google Sheets account"}},"disabled":true},{"parameters":{"content":"## Slack-Proposal Flow","height":520,"width":1520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-500,1520],"id":"73adb71b-6ac1-43ee-93e1-583e1ed9d796","name":"Sticky Note3"},{"parameters":{"jsCode":"// Run Once for All Items\n// Take WhatsApp webhook events and normalize into Discord-like schema\n\nfunction normalizeMessage(m, contacts = [], meta = {}) {\n  const contact =\n    contacts.find(c => c.wa_id === (m.from || m.wa_id)) ||\n    contacts[0] ||\n    {};\n\n  const senderName =\n    (contact.profile && contact.profile.name) ||\n    m.profile?.name ||\n    m.from ||\n    'unknown';\n\n  // WhatsApp timestamps are in seconds\n  const tsSec = Number(m.timestamp || 0) || Math.floor(Date.now() / 1000);\n  const createdIso = new Date(tsSec * 1000).toISOString();\n\n  // Prefer text body; fall back to other message-type bodies/captions if needed\n  const body =\n    (m.type === 'text' && m.text?.body) ||\n    m[m.type]?.body ||\n    m[m.type]?.caption ||\n    '';\n\n  // const forwardedPrefix = m.context?.forwarded ? '[forwarded]\\n' : '';\n\n  return {\n    id: `wa-${m.id || ''}`,\n    username: senderName,\n    timestamp: createdIso,\n    content: `${body}`.trim(),\n    server_id: null,\n    channel_id: meta.phone_number_id || '', // your business phone_number_id\n    channel_url: '' // WhatsApp has no public message URL\n  };\n}\n\n// Flatten all incoming WhatsApp messages from various payload shapes\nconst events = items.map(i => i.json);\nconst out = [];\n\n// Handle both official and simplified payloads\nfor (const evt of events) {\n  if (Array.isArray(evt.entry)) {\n    // Official Cloud API webhook shape\n    for (const en of evt.entry) {\n      for (const ch of (en.changes || [])) {\n        const val = ch.value || {};\n        const contacts = val.contacts || [];\n        const meta = val.metadata || {};\n        for (const m of (val.messages || [])) {\n          out.push({ json: normalizeMessage(m, contacts, meta) });\n        }\n      }\n    }\n  } else {\n    // Simplified shape like your sample\n    const contacts = evt.contacts || [];\n    const meta = evt.metadata || {};\n    for (const m of (evt.messages || [])) {\n      out.push({ json: normalizeMessage(m, contacts, meta) });\n    }\n  }\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-300,1640],"id":"8c0cd32f-f7aa-4f8d-9d78-1750428f0916","name":"Code3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-120,1640],"id":"db35c7ce-5131-49e1-af9b-421175d8811f","name":"Remove Duplicates3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=You are a strict classifier. Output a single, MINIFIED JSON object only. No markdown, no prose.RETURN STRICT JSON only.\n\nTaxonomy:\n- job_post: hiring/RFP/bounty/gig seeking candidates or vendors (e.g., “we’re hiring”, “looking for job bidders”, “need a developer”, “apply”, “send CV”, “budget $X”, “timeline”, “scope”).\n- self_promotion: author sells services or is open to work; portfolio/website/availability; not hiring.\n- fake_apply: generic “interested/DM me/check inbox/I can do this” with no role details OR obvious low-effort “apply” bait; treat as fake_apply unless a genuine role description exists.\n- chat: greetings, discussions, announcements, questions; not hiring and not selling services.\n\nDecision rules:\n1) If the message is recruiting/looking for candidates/vendors or an RFP/bounty → job_post.\n2) Else if it’s a generic reply like “interested/DM sent/available” with no specifics → fake_apply.\n3) Else if the author is offering their own services or “open to work” or sharing portfolio → self_promotion.\n4) Else → chat.\n\nReturn EXACTLY:\n{\"classification\":\"job_post|self_promotion|fake_apply|chat\",\"reason\":\"<<= 15 words>\"}\n\nMessage:\nusername: {{$json.username}}\ntimestamp: {{$json.timestamp}}\ncontent:\n{{$json.content}}\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[60,1640],"id":"cd0d987c-60df-42cc-8e53-c48163628fa4","name":"classify message3","credentials":{"openAiApi":{"id":"Wx35DkSGLiGjWqlA","name":"OpenAi account 2"}}},{"parameters":{"jsCode":"const out = [];\nfor (const item of items) {\n  const j = item.json;\n  const txt =\n    j.message?.content ??\n    j.response ??\n    j.text ??\n    (j.choices?.[0]?.message?.content ?? '');\n\n  let classification = 'other';\n  let reason = 'parse_error';\n  try {\n    const obj = JSON.parse(txt);\n    if (obj?.classification) classification = obj.classification;\n    if (obj?.reason)        reason = obj.reason;\n  } catch {}\n\n  out.push({ json: { ...j, classification, reason } });\n}\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,1640],"id":"cd410e6a-7af2-4414-b95d-d911b29c4363","name":"Parse classification JSON3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7accfe4b-a139-4152-acb1-2c1eac9c72ba","leftValue":"={{ $json.classification }}","rightValue":"job_post","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[100,1860],"id":"b8a33e79-1c08-4599-bd0c-b930c4d76394","name":"If3"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Write a concise, professional proposal for the opportunity below.\n- Audience: the original poster on Discord\n- Tone: friendly, credible, specific\n- Length: 180–250 words\n- Include: short intro, 3–5 bullet highlights of fit, brief plan, relevant stack, light CTA\n- Do NOT include rates unless the post mentions budget\n- Output plain text (no markdown)\n\nContext:\nusername: {{$json.username}}\ntimestamp: {{$json.timestamp}}\nmessage:\n{{$json.content}}\n","role":"assistant"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[540,1860],"id":"a891ecbc-8344-4933-ac90-f730328409f8","name":"Write proposal3","credentials":{"openAiApi":{"id":"Wx35DkSGLiGjWqlA","name":"OpenAi account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[320,1840],"id":"71d0c3d3-f0af-44b8-bbb8-6d0c287078a6","name":"Loop Over Items3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-120,1860],"id":"93d427e0-e143-4c40-b3d3-7dc9012d10b2","name":"Merge3"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY","mode":"list","cachedResultName":"discord-proposal","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zMB1XdpihqqUJwA84nD76cNwmp40dtrXhPhWDVrGsaY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"proposal":"={{ $json.message.content }}","content":"={{ $('Loop Over Items3').item.json.content }}","timestamp":"={{ $('Loop Over Items3').item.json.timestamp }}","reason ":"={{ $('Loop Over Items3').item.json.reason }}","classification":"={{ $('Loop Over Items3').item.json.classification }}","username":"={{ $('Loop Over Items3').item.json.username }}","discord_id":"={{ $('Loop Over Items3').item.json.id }}","date":"={{ $now.toISO() }}"},"matchingColumns":["discord_id"],"schema":[{"id":"discord_id","displayName":"discord_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"classification","displayName":"classification","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reason ","displayName":"reason ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"proposal","displayName":"proposal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[860,1860],"id":"e87be780-25fa-4a8b-8720-466f299ae6a3","name":"Google Sheets3","credentials":{"googleSheetsOAuth2Api":{"id":"liFFQ9xuQcnZI4Lj","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"slack-data","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-480,1640],"id":"679dcc5d-e732-4d36-93f9-afd8e2254fbb","name":"Webhook1","webhookId":"818ac71e-b993-4747-99d7-b5cf7b353499"}],"connections":{"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"classify message","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"classify message":{"main":[[{"node":"Parse classification JSON","type":"main","index":0}]]},"Parse classification JSON":{"main":[[{"node":"Merge","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Write proposal","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"Write proposal":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"Reddit":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"classify message1","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"classify message1":{"main":[[{"node":"Parse classification JSON1","type":"main","index":0}]]},"Parse classification JSON1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Write proposal1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Write proposal1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Reddit","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Remove Duplicates2","type":"main","index":0}]]},"Remove Duplicates2":{"main":[[{"node":"classify message2","type":"main","index":0},{"node":"Merge2","type":"main","index":1}]]},"classify message2":{"main":[[{"node":"Parse classification JSON2","type":"main","index":0}]]},"Parse classification JSON2":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Write proposal2":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Write proposal2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Remove Duplicates3","type":"main","index":0}]]},"Remove Duplicates3":{"main":[[{"node":"classify message3","type":"main","index":0},{"node":"Merge3","type":"main","index":1}]]},"classify message3":{"main":[[{"node":"Parse classification JSON3","type":"main","index":0}]]},"Parse classification JSON3":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Write proposal3":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Write proposal3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"If3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Code3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"WhatsApp Trigger":[{"json":{"messaging_product":"whatsapp","metadata":{"display_phone_number":"15551909916","phone_number_id":"814267268429575"},"contacts":[{"profile":{"name":"Shalini"},"wa_id":"919821971322"}],"messages":[{"context":{"forwarded":true},"from":"919821971322","id":"wamid.HBgMOTE5ODIxOTcxMzIyFQIAEhggQUM3RjM1RkJFQzE3M0RFNzI3MjRERDFGN0I1ODNBNDYA","timestamp":"1757505562","text":{"body":"Freelance Project.\n\nWork:\nRazorpay Payments and its route end to end setup!\n\nSkills: Bubble, and earlier setup experience with rpay and its route.\n\nBudget: 8k\nDeadline: 4 days\n\nRelevant folks please dm.\n\nThanks."},"type":"text"}],"field":"messages"}}]},"versionId":"30eb4388-268d-4910-b977-20447e303f9a","triggerCount":1,"tags":[]}