competitor-meta-ads-analysis-1m25hgbR5Bx0PFcL.json
{"createdAt":"2025-11-07T07:36:05.791Z","updatedAt":"2025-11-07T07:58:42.000Z","id":"1m25hgbR5Bx0PFcL","name":"Competitor Meta Ads Analysis","active":false,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9dbbe6e7-fd80-44ab-88f0-ab438cfd997e","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.snapshot.videos[0].video_sd_url }}","rightValue":"=https://video-"}],"combinator":"and"},"renameOutput":true,"outputKey":"Video"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0b7cee75-ca57-4946-971e-1f526b49324f","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.snapshot.images[0].original_image_url }}","rightValue":"https://scontent-ho"}]},"renameOutput":true,"outputKey":"Image"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Text"}},"id":"4d71ebc8-16b3-4dc4-85bf-061a40c8e423","name":"Switch","type":"n8n-nodes-base.switch","position":[760,880],"typeVersion":3.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"c1d74591-13e8-4c79-9a34-117cc6816dfb","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.advertiser.ad_library_page_info.page_info.likes }}","rightValue":1000}],"combinator":"and"},"options":{}},"id":"d7cf97ad-0053-4cc5-8a8c-c5a6eb73122c","name":"Filter For Likes","type":"n8n-nodes-base.filter","position":[560,880],"typeVersion":2.2},{"parameters":{"amount":1},"id":"2598f10a-dedd-4800-b99a-260e70392435","name":"Wait","type":"n8n-nodes-base.wait","position":[1720,1120],"webhookId":"1cda7407-6321-4d8d-b532-19f42514eb63","typeVersion":1.1},{"parameters":{"amount":1},"id":"a369bf6b-e498-40d9-bfb7-d280e2c99818","name":"Wait1","type":"n8n-nodes-base.wait","position":[1920,880],"webhookId":"1cda7407-6321-4d8d-b532-19f42514eb63","typeVersion":1.1},{"parameters":{"url":"={{ $json.snapshot.videos[0].video_sd_url }}","options":{}},"id":"c2576ff9-9506-419c-bacf-599d7e7760ca","name":"Download Video","type":"n8n-nodes-base.httpRequest","position":[1160,620],"typeVersion":4.2},{"parameters":{"name":"Example File","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1HIJzh82TkmUi6FNyqWdRPvVsaUVAmR_m","mode":"id"},"options":{}},"id":"fbf1e496-ee78-4bb0-b1fb-887b0fb0761f","name":"Upload Video to Drive","type":"n8n-nodes-base.googleDrive","position":[1360,620],"typeVersion":3},{"parameters":{"amount":1},"id":"0df67c29-cfa3-4f16-b40b-9530a38ef6dd","name":"Wait2","type":"n8n-nodes-base.wait","position":[3180,620],"webhookId":"1cda7407-6321-4d8d-b532-19f42514eb63","typeVersion":1.1},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/XtaWFhbtfxyzqrFmd/run-sync-get-dataset-items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"count\": 200,\n    \"period\": \"last7d\",\n    \"scrapeAdDetails\": true,\n    \"scrapePageAds.activeStatus\": \"active\",\n    \"urls\": [\n        {\n            \"url\": \"https://www.facebook.com/ads/library/?active_status=active&ad_type=all&country=ALL&is_targeted_country=false&media_type=all&q=stickyzoo.com&search_type=keyword_unordered\",\n            \"method\": \"GET\"\n        }\n    ]\n}","options":{}},"id":"1f6959d2-6c00-46c6-b9ac-b8275832b9b8","name":"Run Ad Library Scraper","type":"n8n-nodes-base.httpRequest","position":[360,880],"typeVersion":4.2},{"parameters":{"options":{}},"id":"f2f4b544-ecb4-4774-984e-ef0448cb5430","name":"Loop Over Image Ads","type":"n8n-nodes-base.splitInBatches","position":[960,880],"typeVersion":3},{"parameters":{"options":{}},"id":"acb1925c-6c1c-4cac-848b-8f7cca001278","name":"Loop Over Text Ads","type":"n8n-nodes-base.splitInBatches","position":[960,1120],"typeVersion":3},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/upload/v1beta/files","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"<yourApiKey>"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Goog-Upload-Protocol","value":"resumable"},{"name":"X-Goog-Upload-Command","value":"start"},{"name":"X-Goog-Upload-Header-Content-Length","value":"={{ $json.size }}"},{"name":"Content-Type","value":"application/json"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"1e4595e5-d98d-4f33-9fab-7a09061038e6","name":"Begin Gemini Upload Session","type":"n8n-nodes-base.httpRequest","position":[1580,620],"typeVersion":4.2},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $('Upload Video to Drive').item.json.id }}"},"options":{}},"id":"0f5c048e-090f-4052-9518-6f0e72c4c6fd","name":"Redownload Video","type":"n8n-nodes-base.googleDrive","position":[1760,620],"typeVersion":3},{"parameters":{"method":"POST","url":"={{ $json.headers['x-goog-upload-url'] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"<yourApiKey>"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Length","value":"={{ $('Upload Video to Drive').item.json.size }}"},{"name":"X-Goog-Upload-Offset","value":"0"},{"name":"X-Goog-Upload-Command","value":"upload, finalize"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"=data","options":{}},"id":"684ebc00-140c-458b-8d31-c4ae2b10af9e","name":"Upload Video to Gemini","type":"n8n-nodes-base.httpRequest","position":[1960,620],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"<yourApiKey>"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Describe this video in excruciating detail. Do not output anything but the description of the video.\"\n        },\n        {\n          \"file_data\": {\n            \"mime_type\": \"{{ $json.file.mimeType }}\",\n            \"file_uri\": \"{{ $json.file.uri }}\"\n          }\n        }\n      ]\n    }\n  ]\n}","options":{}},"id":"3ac780c8-b33b-4481-b248-468fcd1e537b","name":"Analyze Video with Gemini","type":"n8n-nodes-base.httpRequest","position":[2360,620],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":15},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"You're a helpful, intelligent advertisement analysis bot. You analyze advertisements.","role":"system"},{"content":"Your task is to take as input a scraped javascript object from an advertisement in the FB ad library, and then summarize it + spin (repurpose, rewrite) the ad copy. \n\nYou're doing this for strategic intelligence. We run an advertising agency and we're always looking at what our competitor advertisers are doing.\n\nOutput your results in this JSON format:\n\n{\"summary\":\"\",\"rewrittenAdCopy\":\"\"}\n\nRules:\n- The intended style and attitude is generally analytical, inquisitive, and precise, despite exploring complex topics, in the “classic style” of Western writing.\nthe level of formality should be inverse to the topic’s novelty: the weirder something is, the more formal. For ‘safer’ topics, one should cut loose with the humor, epigraphs, typographical stunts and experiments, etc.\n- Avoid hedging and qualifying, even at the risk of making overly-strong claims. It is a slippery slope.\n- Use casual abbreviations (like San Francisco -> SF, thanks -> thx, question -> q ), casual contractions (like \"I've\"), shortened forms of common nouns (like \"info\", \"vid\", \"app\") as this signals more human written speech. Do not use em dashes (eliminate — from your vocabulary completely!\n- No rhetorical questions.\n- Make your summary extremely comprehensive and analytical."},{"content":"=JSON scrape:\n\n{{ $('Loop Over Video Ads').item.json.toJsonString() }}\n\nVideo description:\n\n{{ $json.candidates[0].content.parts[0].text }}"}]},"jsonOutput":true,"options":{"temperature":0.7}},"id":"3d21b11f-88df-4934-9610-8e93db1a7aef","name":"Output Video Summary","type":"@n8n/n8n-nodes-langchain.openAi","position":[2560,620],"typeVersion":1.8},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g","mode":"list","cachedResultName":"Facebook Ad Analyzer DB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ads Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g/edit#gid=0"},"columns":{"value":{"type":"video","page_id":"={{ $('Loop Over Video Ads').item.json.page_id }}","summary":"={{ $json.message.content.summary }}","page_url":"={{ $('Loop Over Video Ads').item.json.snapshot.page_profile_uri }}","page_name":"={{ $('Loop Over Video Ads').item.json.snapshot.page_name }}","date_added":"={{ $now }}","image_prompt":"=","video_prompt":"={{ $('Analyze Video with Gemini').item.json.candidates[0].content.parts[0].text }}","ad_archive_id":"={{ $('Loop Over Video Ads').item.json.ad_archive_id }}","rewritten_ad_copy":"={{ $json.message.content.rewrittenAdCopy }}"},"schema":[{"id":"ad_archive_id","type":"string","display":true,"removed":false,"required":false,"displayName":"ad_archive_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_id","type":"string","display":true,"removed":false,"required":false,"displayName":"page_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"type","type":"string","display":true,"removed":false,"required":false,"displayName":"type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"date_added","type":"string","display":true,"removed":false,"required":false,"displayName":"date_added","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_name","type":"string","display":true,"removed":false,"required":false,"displayName":"page_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_url","type":"string","display":true,"removed":false,"required":false,"displayName":"page_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rewritten_ad_copy","type":"string","display":true,"removed":false,"required":false,"displayName":"rewritten_ad_copy","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image_prompt","type":"string","display":true,"removed":false,"required":false,"displayName":"image_prompt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"video_prompt","type":"string","display":true,"removed":false,"required":false,"displayName":"video_prompt","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"03530057-31ab-4258-8c55-aeb5c778b93a","name":"Add as Type = Video","type":"n8n-nodes-base.googleSheets","position":[3000,620],"typeVersion":4.6},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o","cachedResultName":"GPT-4O"},"text":"What's in this image? Be extremely comprehensive.","imageUrls":"={{ $json.snapshot.images[0].original_image_url }}","options":{}},"id":"ccc62e2e-c829-40ae-8480-65b31cb1d063","name":"Analyze Image","type":"@n8n/n8n-nodes-langchain.openAi","position":[1240,880],"typeVersion":1.8},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"You're a helpful, intelligent advertisement analysis bot. You analyze advertisements.","role":"system"},{"content":"Your task is to take as input a scraped javascript object from an advertisement in the FB ad library, and then summarize it + spin (repurpose, rewrite) the ad copy. \n\nYou're doing this for strategic intelligence. We run an advertising agency and we're always looking at what our competitor advertisers are doing.\n\nOutput your results in this JSON format:\n\n{\"summary\":\"\",\"rewrittenAdCopy\":\"\"}\n\nRules:\n- The intended style and attitude is generally analytical, inquisitive, and precise, despite exploring complex topics, in the “classic style” of Western writing.\nthe level of formality should be inverse to the topic’s novelty: the weirder something is, the more formal. For ‘safer’ topics, one should cut loose with the humor, epigraphs, typographical stunts and experiments, etc.\n- Avoid hedging and qualifying, even at the risk of making overly-strong claims. It is a slippery slope.\n- Use casual abbreviations (like San Francisco -> SF, thanks -> thx, question -> q ), casual contractions (like \"I've\"), shortened forms of common nouns (like \"info\", \"vid\", \"app\") as this signals more human written speech. Do not use em dashes (eliminate — from your vocabulary completely!\n- No rhetorical questions.\n- Make your summary extremely comprehensive and analytical."},{"content":"=JSON scrape:\n\n{{ $('Loop Over Image Ads').item.json.toJsonString() }}\n\nImage description:\n\n{{ $json.content }}"}]},"jsonOutput":true,"options":{"temperature":0.7}},"id":"3c114e8f-e4dd-40d3-8312-84979e3e2709","name":"Output Image Summary","type":"@n8n/n8n-nodes-langchain.openAi","position":[1440,880],"typeVersion":1.8},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g","mode":"list","cachedResultName":"Facebook Ad Analyzer DB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ads Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g/edit#gid=0"},"columns":{"value":{"type":"image","page_id":"={{ $('Loop Over Image Ads').item.json.page_id }}","summary":"={{ $json.message.content.summary }}","page_url":"={{ $('Loop Over Image Ads').item.json.snapshot.page_profile_uri }}","page_name":"={{ $('Loop Over Image Ads').item.json.snapshot.page_name }}","date_added":"={{ $now }}","image_prompt":"={{ $('Analyze Image').item.json.content }}","ad_archive_id":"={{ $('Loop Over Image Ads').item.json.ad_archive_id }}","rewritten_ad_copy":"={{ $json.message.content.rewrittenAdCopy }}"},"schema":[{"id":"ad_archive_id","type":"string","display":true,"removed":false,"required":false,"displayName":"ad_archive_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_id","type":"string","display":true,"removed":false,"required":false,"displayName":"page_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"type","type":"string","display":true,"removed":false,"required":false,"displayName":"type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"date_added","type":"string","display":true,"removed":false,"required":false,"displayName":"date_added","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_name","type":"string","display":true,"removed":false,"required":false,"displayName":"page_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_url","type":"string","display":true,"removed":false,"required":false,"displayName":"page_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rewritten_ad_copy","type":"string","display":true,"removed":false,"required":false,"displayName":"rewritten_ad_copy","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image_prompt","type":"string","display":true,"removed":false,"required":false,"displayName":"image_prompt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"video_prompt","type":"string","display":true,"removed":false,"required":false,"displayName":"video_prompt","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"285ce309-3d68-4896-a2f5-1e7dcd83a44e","name":"Add as Type = Image","type":"n8n-nodes-base.googleSheets","position":[1720,880],"typeVersion":4.6},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4.1","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"You're a helpful, intelligent advertisement analysis bot. You analyze advertisements.","role":"system"},{"content":"Your task is to take as input a scraped javascript object from an advertisement in the FB ad library, and then summarize it + spin (repurpose, rewrite) the ad copy. \n\nYou're doing this for strategic intelligence. We run an advertising agency and we're always looking at what our competitor advertisers are doing.\n\nOutput your results in this JSON format:\n\n{\"summary\":\"\",\"rewrittenAdCopy\":\"\"}\n\nRules:\n- The intended style and attitude is generally analytical, inquisitive, and precise, despite exploring complex topics, in the “classic style” of Western writing.\nthe level of formality should be inverse to the topic’s novelty: the weirder something is, the more formal. For ‘safer’ topics, one should cut loose with the humor, epigraphs, typographical stunts and experiments, etc.\n- Avoid hedging and qualifying, even at the risk of making overly-strong claims. It is a slippery slope.\n- Use casual abbreviations (like San Francisco -> SF, thanks -> thx, question -> q ), casual contractions (like \"I've\"), shortened forms of common nouns (like \"info\", \"vid\", \"app\") as this signals more human written speech. Do not use em dashes (eliminate — from your vocabulary completely!\n- No rhetorical questions.\n- Make your summary extremely comprehensive and analytical."},{"content":"={{ $json.toJsonString() }}"}]},"jsonOutput":true,"options":{"temperature":0.7}},"id":"7457ed37-457c-4147-8a6b-a0bba42ea2bd","name":"Output Text Summary","type":"@n8n/n8n-nodes-langchain.openAi","position":[1160,1120],"typeVersion":1.8},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g","mode":"list","cachedResultName":"Facebook Ad Analyzer DB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ads Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13Yc7sL-UW4IFy4tWIsFuzBCRLNRvLiwTsNBSHtd3B7g/edit#gid=0"},"columns":{"value":{"type":"text","page_id":"={{ $('Loop Over Text Ads').item.json.page_id }}","summary":"={{ $json.message.content.summary }}","page_url":"={{ $('Loop Over Text Ads').item.json.snapshot.page_profile_uri }}","page_name":"={{ $('Loop Over Text Ads').item.json.snapshot.page_name }}","date_added":"={{ $now }}","ad_archive_id":"={{ $('Loop Over Text Ads').item.json.ad_archive_id }}","rewritten_ad_copy":"={{ $json.message.content.rewrittenAdCopy }}"},"schema":[{"id":"ad_archive_id","type":"string","display":true,"removed":false,"required":false,"displayName":"ad_archive_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_id","type":"string","display":true,"removed":false,"required":false,"displayName":"page_id","defaultMatch":false,"canBeUsedToMatch":true},{"id":"type","type":"string","display":true,"removed":false,"required":false,"displayName":"type","defaultMatch":false,"canBeUsedToMatch":true},{"id":"date_added","type":"string","display":true,"removed":false,"required":false,"displayName":"date_added","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_name","type":"string","display":true,"removed":false,"required":false,"displayName":"page_name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"page_url","type":"string","display":true,"removed":false,"required":false,"displayName":"page_url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true},{"id":"rewritten_ad_copy","type":"string","display":true,"removed":false,"required":false,"displayName":"rewritten_ad_copy","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image_prompt","type":"string","display":true,"removed":false,"required":false,"displayName":"image_prompt","defaultMatch":false,"canBeUsedToMatch":true},{"id":"video_prompt","type":"string","display":true,"removed":false,"required":false,"displayName":"video_prompt","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"70ddae9e-481d-4402-a96c-cbda0604cd0a","name":"Add as Type = Text","type":"n8n-nodes-base.googleSheets","position":[1520,1120],"typeVersion":4.6},{"parameters":{"amount":15},"id":"b78a5450-db52-4cb2-bad6-2014d2a771fa","name":"Wait3","type":"n8n-nodes-base.wait","position":[2160,620],"webhookId":"ac11c85a-5b73-4a29-9667-615e811a5ad8","typeVersion":1.1},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[160,880],"id":"94239d64-bf35-4027-a534-f419b57062fd","name":"Schedule Trigger"},{"parameters":{"content":"## 🕵️ STEP 1: Facebook Ad Library Scraping\n\nThis workflow extracts competitor ads from Facebook's public ad library:\n\n1. **Run Ad Library Scraper**: Uses Apify to scrape active Facebook ads based on search terms\n2. **Filter For Likes**: Filters out low-quality advertisers (less than 1000 page likes)\n3. **Switch**: Routes ads to different processing paths based on content type\n\n**Setup**: Replace <your-apify-api-key-here> with actual Apify API key and customize search terms","height":360,"width":380,"color":4},"id":"37ddd8ee-b1a2-4dd4-9910-042ef4bc470c","type":"n8n-nodes-base.stickyNote","position":[320,480],"typeVersion":1,"name":"Sticky Note10"},{"parameters":{"content":"## 📹 STEP 2: Video Ad Processing Pipeline\n\nFor video ads, this complex pipeline analyzes content:\n\n1. **Download Video**: Gets video file from Facebook\n2. **Upload to Drive**: Stores video for Gemini processing\n3. **Begin Gemini Session**: Initiates video upload to Gemini AI\n4. **Upload to Gemini**: Transfers video for analysis\n5. **Analyze Video**: Uses Gemini's video understanding to describe content\n6. **Generate Summary**: Creates competitor analysis and rewritten ad copy\n\n**Note**: Video processing requires Gemini API for multi-modal analysis","height":300,"width":580,"color":5},"id":"0972ad13-67ee-4cd3-a666-df936a7663e0","type":"n8n-nodes-base.stickyNote","position":[960,240],"typeVersion":1,"name":"Sticky Note11"},{"parameters":{"content":"## 🖼️ STEP 3: Image & Text Ad Processing\n\n**Image Route:**\n• **Analyze Image**: Uses GPT-4 Vision to describe image content\n• **Output Summary**: Generates competitor analysis with image insights\n• **Add as Type = Image**: Stores results with image prompt for recreation\n\n**Text Route:**\n• **Output Text Summary**: Analyzes text-only ads for strategy and messaging\n• **Add as Type = Text**: Stores analysis and rewritten copy\n\n**Result**: Comprehensive competitor intelligence database with recreation prompts","height":320,"width":500},"id":"bcc7d5ee-ceb0-4bf6-af09-89e879bd12a4","type":"n8n-nodes-base.stickyNote","position":[2140,1000],"typeVersion":1,"name":"Sticky Note12"},{"parameters":{"content":"## 💰 BUSINESS VALUE & APPLICATIONS\n\n**Competitive Intelligence:**\n• Analyze competitor ad strategies across text, image, and video formats\n• Track messaging evolution and creative approaches\n• Identify high-performing advertisers (filtered by page likes)\n\n**Revenue Opportunities:**\n• Sell as spy tool service for $2,000+ to marketing agencies\n• Offer competitor analysis reports to PPC clients\n• Use insights for your own ad campaign optimization\n\n**Scalable System**: Process hundreds of ads automatically with detailed analysis","height":320,"width":580,"color":7},"id":"779c3e3f-0de2-4d45-8374-8a1393df6787","type":"n8n-nodes-base.stickyNote","position":[240,1080],"typeVersion":1,"name":"Sticky Note13"},{"parameters":{"content":"## AI Facebook Ad Spy Tool\n\nSteps:\n1. Add API key to \"Run Ad Library Scraper\" node\n2. Add filtering threshold in \"Filter For Likes\" node\n3. Add Gemini API key to \"Begin Gemini Upload Session\", \"Upload Video to Gemini\", and \"Analyze Video with Gemini\" nodes\n4. Adjust prompts to AI as needed and swap in your Google Sheet in the Google Sheets nodes.\n\n\n### Happy building!","height":320,"width":700},"id":"f8f9ed59-ddab-46ba-bc59-49018a7a9bf9","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"","height":480,"width":1800},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,940],"id":"4b5792d6-8c30-4f54-9c6b-414b5165fddf","name":"Sticky Note15"},{"parameters":{"content":"","height":640,"width":2420,"color":5},"id":"ade18e18-b5ba-447c-8697-bf3f4313005f","type":"n8n-nodes-base.stickyNote","position":[900,200],"typeVersion":1,"name":"Sticky Note16"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[960,640],"id":"8d2bce64-b9cd-483c-8f7b-d4f9bd35a8cd","name":"Loop Over Video Ads"},{"parameters":{"amount":2},"id":"c4d7ce15-c7bd-478e-b729-35e35d36b0f7","name":"Wait4","type":"n8n-nodes-base.wait","position":[2840,620],"webhookId":"ac11c85a-5b73-4a29-9667-615e811a5ad8","typeVersion":1.1}],"connections":{"Switch":{"main":[[{"node":"Loop Over Video Ads","type":"main","index":0}],[{"node":"Loop Over Image Ads","type":"main","index":0}],[{"node":"Loop Over Text Ads","type":"main","index":0}]]},"Filter For Likes":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Text Ads","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Image Ads","type":"main","index":0}]]},"Download Video":{"main":[[{"node":"Upload Video to Drive","type":"main","index":0}]]},"Upload Video to Drive":{"main":[[{"node":"Begin Gemini Upload Session","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Video Ads","type":"main","index":0}]]},"Run Ad Library Scraper":{"main":[[{"node":"Filter For Likes","type":"main","index":0}]]},"Loop Over Image Ads":{"main":[[],[{"node":"Analyze Image","type":"main","index":0}]]},"Loop Over Text Ads":{"main":[[],[{"node":"Output Text Summary","type":"main","index":0}]]},"Begin Gemini Upload Session":{"main":[[{"node":"Redownload Video","type":"main","index":0}]]},"Redownload Video":{"main":[[{"node":"Upload Video to Gemini","type":"main","index":0}]]},"Upload Video to Gemini":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Analyze Video with Gemini":{"main":[[{"node":"Output Video Summary","type":"main","index":0}]]},"Output Video Summary":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Add as Type = Video":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Analyze Image":{"main":[[{"node":"Output Image Summary","type":"main","index":0}]]},"Output Image Summary":{"main":[[{"node":"Add as Type = Image","type":"main","index":0}]]},"Add as Type = Image":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Output Text Summary":{"main":[[{"node":"Add as Type = Text","type":"main","index":0}]]},"Add as Type = Text":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Analyze Video with Gemini","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Run Ad Library Scraper","type":"main","index":0}]]},"Loop Over Video Ads":{"main":[[],[{"node":"Download Video","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Add as Type = Video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ddf68d84-a8d5-40aa-a695-53f6de2907c7","triggerCount":0,"tags":[{"createdAt":"2025-11-07T07:35:01.790Z","updatedAt":"2025-11-07T07:35:01.790Z","id":"V3ikAJrIxZcZDMeR","name":"N8N Course"},{"createdAt":"2025-11-07T07:35:01.697Z","updatedAt":"2025-11-07T07:35:01.697Z","id":"btxT8GuPGxJcN3b3","name":"Ecom"}]}