dishant:-google-search-console-(query-&-page-data)-COYymCFsSScCphvV.json
{"createdAt":"2025-11-10T06:56:46.798Z","updatedAt":"2025-11-10T06:56:46.798Z","id":"COYymCFsSScCphvV","name":"DISHANT: Google Search Console (Query & Page Data)","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-500,640],"id":"ce148c48-616d-4e78-9285-05fc24531c1f","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Client Credentials\n\nClient ID: 36652360489-lgdfbmg4eve53s2k0u5sen4bevfno6u3.apps.googleusercontent.com\n\nClient Secret: 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\n\nWebsite URL: https://skateboardartgallery.com/\n\nAPI Key: AIzaSyA1Ck5Ql1tSH0NLVbOnA1Qihy4VPsUQuCg\n","height":240,"width":520,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,200],"id":"22f1985d-d0ab-4b2a-baf3-d9ba00dff651","name":"Sticky Note"},{"parameters":{"content":"## Documentation:\n\nhttps://developers.google.com/webmaster-tools/v1/api_reference_index\n\nhttps://developers.google.com/webmaster-tools/v1/searchanalytics/query\n\n\n\n","width":520},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"4e4d00de-91c3-44cf-8a9e-dfb9a65f160c","name":"Sticky Note1"},{"parameters":{"content":"## Materials:\n\nSheet: \nhttps://docs.google.com/spreadsheets/d/16FYy2puzr7KWezOELkE1igYLong-yrl5bn_hCBeYJKs/edit?usp=sharing\n\nLoom: https://www.loom.com/share/2cac857c3d584096954b8879c290c1c9?sid=cd2b2e99-7955-4b9c-a168-4ac9735ca08b","height":220,"width":520,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,0],"id":"45de3114-63de-4c23-aeae-0af5938bef0f","name":"Sticky Note2"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"16FYy2puzr7KWezOELkE1igYLong-yrl5bn_hCBeYJKs","mode":"list","cachedResultName":"Google Search Console (Query & Page Data)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16FYy2puzr7KWezOELkE1igYLong-yrl5bn_hCBeYJKs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Query Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16FYy2puzr7KWezOELkE1igYLong-yrl5bn_hCBeYJKs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Queries":"={{ $json.query }}","Impressions":"={{ $json.impressions }}","CTR":"={{ $json.ctr }}","Position":"={{ $json.position }}"},"matchingColumns":["Queries"],"schema":[{"id":"Queries","displayName":"Queries","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Impressions","displayName":"Impressions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CTR","displayName":"CTR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[860,520],"id":"c7ee5191-c68f-41d8-a164-f624ee381270","name":"Add Query Data"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"16FYy2puzr7KWezOELkE1igYLong-yrl5bn_hCBeYJKs","mode":"list","cachedResultName":"Google Search Console (Query & Page Data)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16FYy2puzr7KWezOELkE1igYLong-yrl5bn_hCBeYJKs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1954559903,"mode":"list","cachedResultName":"Page Data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16FYy2puzr7KWezOELkE1igYLong-yrl5bn_hCBeYJKs/edit#gid=1954559903"},"columns":{"mappingMode":"defineBelow","value":{"Pages":"={{ $json.page }}","Impressions":"={{ $json.impressions }}","CTR":"={{ $json.ctr }}","Position":"={{ $json.position }}","Clicks":"={{ $json.clicks }}"},"matchingColumns":["Pages"],"schema":[{"id":"Pages","displayName":"Pages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Impressions","displayName":"Impressions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CTR","displayName":"CTR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Position","displayName":"Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Clicks","displayName":"Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[860,760],"id":"484b0e23-ef35-48dc-83b8-6fce70db2a46","name":"Add Page Data"},{"parameters":{"resource":"folder","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[700,320],"id":"890942ea-2c12-4933-a6cc-61b14df1dbe4","name":"Google Drive"},{"parameters":{"jsCode":"const input = $input.item.json.rows;\n\nreturn input.map(row => {\n  return {\n    json: {\n      query: row.keys[0],\n      clicks: row.clicks,\n      impressions: row.impressions,\n      ctr: row.ctr,\n      position: row.position\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,520],"id":"d3e008c8-33ae-479e-901d-38670aa9420a","name":"Convert to flat data"},{"parameters":{"jsCode":"const sorted = items.sort((a, b) => b.json.impressions - a.json.impressions);\n// Or use b.json.clicks - a.json.clicks for clicks\nreturn sorted;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,520],"id":"615dd268-dc50-483b-ae75-2aef21daab0d","name":"Sort based on impressions"},{"parameters":{"jsCode":"const input = $input.item.json.rows;\n\nreturn input.map(row => {\n  return {\n    json: {\n      page: row.keys[0],\n      clicks: row.clicks,\n      impressions: row.impressions,\n      ctr: row.ctr,\n      position: row.position\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,760],"id":"780604b6-a4e2-44ca-a833-ba7e86d117c0","name":"Convert to flat data1"},{"parameters":{"jsCode":"const sorted = items.sort((a, b) => b.json.impressions - a.json.impressions);\n// Or use b.json.clicks - a.json.clicks for clicks\nreturn sorted;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,760],"id":"f27b097f-d1f3-4248-b71a-558438dee1d1","name":"Sort based on impressions1"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/webmasters/v3/sites/https%3A%2F%2Fskateboardartgallery.com%2F/searchAnalytics/query","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n  \"Authorization\": \"Bearer {{ $json.access_token }}\",\n  \"Content-Type\": \"application/json\"\n}\n","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"startDate\": \"2024-01-01\",\n  \"endDate\": \"2024-01-30\",\n  \"dimensions\": [\"query\"],\n  \"rowLimit\": 1000\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,520],"id":"1d0d1391-7a21-45ca-b142-773c6478ddba","name":"Google Search Console Query Data"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/webmasters/v3/sites/https%3A%2F%2Fskateboardartgallery.com%2F/searchAnalytics/query","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n  \"Authorization\": \"Bearer {{ $json.access_token }}\",\n  \"Content-Type\": \"application/json\"\n}\n","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"startDate\": \"2024-01-01\",\n  \"endDate\": \"2024-01-30\",\n  \"dimensions\": [\"page\"],\n  \"rowLimit\": 1000\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,760],"id":"6a3bd27c-a265-4a67-b906-2d8201553905","name":"Google Search Console Page Data"},{"parameters":{"jsCode":"const rawKey = $input.first().json.private_key;\nconst privateKey = rawKey.replace(/\\\\n/g, '\\n');\n\nconst clientEmail = $input.first().json.email;\nconst now = Math.floor(Date.now() / 1000);\nconst jwtHeader = {\n  alg: 'RS256',\n  typ: 'JWT'\n};\n\nconst jwtClaimSet = {\n  iss: clientEmail,\n  scope: 'https://www.googleapis.com/auth/webmasters.readonly',\n  aud: 'https://oauth2.googleapis.com/token',\n  iat: now,\n  exp: now + 3600\n};\n\n// Base64 encoding\nfunction base64url(source) {\n  return Buffer.from(JSON.stringify(source))\n    .toString('base64')\n    .replace(/=+$/, '')\n    .replace(/\\+/g, '-')\n    .replace(/\\//g, '_');\n}\n\nconst header = base64url(jwtHeader);\nconst claimSet = base64url(jwtClaimSet);\nconst signatureInput = `${header}.${claimSet}`;\n\n// Sign the JWT using crypto\nconst crypto = require('crypto');\nconst sign = crypto.createSign('RSA-SHA256');\nsign.update(signatureInput);\nconst signature = sign.sign(privateKey, 'base64')\n  .replace(/=+$/, '')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_');\n\nconst jwt = `${signatureInput}.${signature}`;\n\nreturn [{ json: { jwt } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,640],"id":"739c6068-1a66-4808-a644-2a674d90e302","name":"JWT"},{"parameters":{"method":"POST","url":"https://oauth2.googleapis.com/token","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n  \"Content-Type\": \"application/x-www-form-urlencoded\"\n}\n","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"urn:ietf:params:oauth:grant-type:jwt-bearer"},{"name":"assertion","value":"={{ $json.jwt }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,640],"id":"d1654185-edfd-472b-82f0-01dcba1b62b2","name":"Get Access Token"},{"parameters":{"assignments":{"assignments":[{"id":"58784c79-b8ed-4da9-aa71-4e849ad2100d","name":"private_key","value":"-----BEGIN PRIVATE KEY-----\\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDT8CeDsGiUxutM\\npqHJMB1H0MLTdb38KW9N6y3gdCjuXvjMNTqjn3FFaV4oq6/Ky9KYDnSxGKka1Kj2\\nbMffc73Ks/i3127H3uH71P2fhcPj6yFLE4lPoVZ6H2kW0HnW69zbHvb0lr7+Jlrz\\nvBxiQE32/NnR0w1DlYOqq9CBR585/FvXwik5zl5vxEvz0N2SOJJ9d9D/Lsp6uCiK\\ni9pvxEdGx8f/HWdB5L021AjoU1wm6DAAxuvbFrArOaN/hbpcbkRPGpJyYPBXjNtV\\nzb9q92Alm0YSJYu76jv/aJNSNhRCKhwQt+4YkHm8W5u3wP3N8XVpN8C1I5n9Jfbz\\n2D8pzchzAgMBAAECggEANhaMpxWe4xVPGL1P/c3rMxhKmHfsmA2lC9Aw4Z8TkR4o\\nxcjx4a8/07Sb5KpIT2usH8VUr5u5EJFkW5uQeO0La0958sUmzxiJOOF3Jr6XKzQn\\nR4dBXFKzBLC+e6WR6rFAKKXi5bIRJUB5psmDvullXFrUZjHEKVLfiu+VY2D5eG0B\\nqyKXTtWxBJxrT+yIW9pvWCdPNo++fq0HhlMU5y2JuCZr/dkZ/JIXLgglOTEbVv4L\\n8JdK6WM9qaSEYRTk/CRKH5hsb4mRQOiTBb0WKprmeQZ0mpAM7VTwxZ42/om4B6/3\\nENXOBnUdGhxEIbR+zIsrOzUQMvKnToQ82q7/ey90SQKBgQDze9OgiPF3y4a/0+sb\\nd0pg+WyNbZ5657ZcBQBpN/65opqqzh+YDd19Khf6UYB49SOvC0uRFvh8t4Gu+pWk\\nsrxa1kLfxN7nbS1hLM7VEpnYt5gK/Y+NHt8vpUgfnMboh2JARaeyvctk4/aeSv7C\\nuzWAp3u4CpgiQwekbJQ7fbl2ywKBgQDe1TJunkgNedAv+EHlVWj5kjUTATa5YMPK\\nlnLRse/r+g5NCpZb3r/7VOuT/5xtqIk3lHoJx4lZgxkrsh/gYdopouz1HSo6SQkN\\nlxElcj0znYnr3TTg3EYuaC2HeuyGkm00gISFZp1SwSeGbdQEJ56kFLYYuNPYgQqz\\nvOCJz5cX+QKBgADPVqLgEb2ORcJ5l/ydZvfvnHbT+IT8JFUmBxxSfVxsuAr9aIl+\\n8k+qRi4k+0JrvlSkuvmek/EGQz4rwzerCIlc0RghdYRbjp0WIxH+X9iis7TFpyaX\\nBbMI37aLNPYtDRydnrMvgm+xem6IXVSUftcQt46jKmJiyrG3Ur7n6igFAoGBAJ6v\\ntvV9tJQcLn0qz0qRM2ufijpZf+4uEeBgma3piJFFBxAoPQF5tMA4Lne77VtOTUGO\\ndAYo2hArwy4R8I9rP+CszRCVT3AoeND7xtMi8qCiTQjyA+kqFLSRrfKwQGZpOmnM\\nKBOUCu9W7F3YMscuq9Pvh+o9HWguJT/wfvrFIbWJAoGBANnOoCFWxbIkYHUiMdQH\\nnrdY00GbNPwsio4VXnk92z0fCxnJX9MO6n07EFK/BDGco2NYnXuKCSqCrBnWBgXb\\nxVJpEkl1bz5PjERu6woOGFW+0OC/jcNPJE7BjeOKxjG3cjAQf4bZSVTZK8rfYhkM\\ndX/2+tmfd4qzi2zIT6lbT4d9\\n-----END PRIVATE KEY-----","type":"string"},{"id":"2f479422-c27b-484e-a949-907c0177cd24","name":"email","value":"n8n-index-bot@premium-bearing-459920-m5.iam.gserviceaccount.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,640],"id":"2a7b2069-1015-41ee-ab3a-989ff4f1a88d","name":"Set Auth Fields"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Set Auth Fields","type":"main","index":0}]]},"Convert to flat data":{"main":[[{"node":"Sort based on impressions","type":"main","index":0}]]},"Sort based on impressions":{"main":[[{"node":"Add Query Data","type":"main","index":0}]]},"Convert to flat data1":{"main":[[{"node":"Sort based on impressions1","type":"main","index":0}]]},"Sort based on impressions1":{"main":[[{"node":"Add Page Data","type":"main","index":0}]]},"Google Search Console Query Data":{"main":[[{"node":"Convert to flat data","type":"main","index":0}]]},"Google Search Console Page Data":{"main":[[{"node":"Convert to flat data1","type":"main","index":0}]]},"JWT":{"main":[[{"node":"Get Access Token","type":"main","index":0}]]},"Get Access Token":{"main":[[{"node":"Google Search Console Page Data","type":"main","index":0},{"node":"Google Search Console Query Data","type":"main","index":0}]]},"Set Auth Fields":{"main":[[{"node":"JWT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3d412583-05f8-4eb4-8268-e99d924290dc","triggerCount":0,"tags":[]}