my-workflow-5FHtNmNryZv9DFYG.json
{"createdAt":"2025-05-24T09:46:06.661Z","updatedAt":"2025-05-24T09:47:11.000Z","id":"5FHtNmNryZv9DFYG","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[260,140],"id":"3040f391-5327-4d34-8e82-f3419f82846d","name":"SerpAPI","credentials":{"serpApi":{"id":"8s0EZNNT3Rvm0jEJ","name":"SerpAPI account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08Q8JXBGEQ","mode":"list","cachedResultName":"helo"},"text":"={{ $json.output }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[360,-80],"id":"21fb293c-8095-447a-afc7-641fe1115dab","name":"Slack","webhookId":"f719a43a-9cc7-4234-ac83-8a759e96926c","credentials":{"slackApi":{"id":"jBpc5CnovdjDnbqY","name":"Slack account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-80,140],"id":"d4e0fa2e-20ef-4ace-b943-ee4969902a0b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"nOfHSQnmSlb3KjQv","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.blocks[0].elements[0].elements[1].text }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[0,-80],"id":"8c064109-549f-43d4-8f2b-743c0c8801ba","name":"AI Agent"},{"parameters":{"trigger":["app_mention"],"channelId":{"__rl":true,"value":"https://app.slack.com/client/T07EEHGBJR5/C08Q8JXBGEQ","mode":"url"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-220,-80],"id":"d441634e-849e-420c-b868-9b41ead6f7cb","name":"Slack Trigger","webhookId":"0ee4ee53-de6b-435b-b7d3-c6a37f73ea6d","credentials":{"slackApi":{"id":"jBpc5CnovdjDnbqY","name":"Slack account"}}}],"connections":{"SerpAPI":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0d3cf20-e121-47ca-a13c-998901d85a83","triggerCount":1,"tags":[]}