rag-database-G75RtWh4nMUgvK31.json
{"createdAt":"2025-11-10T06:42:58.232Z","updatedAt":"2025-11-10T06:42:58.232Z","id":"G75RtWh4nMUgvK31","name":"RAG Database","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"}]}}},"id":"f2563c6e-3c44-4873-b429-aa3673ae36a1","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1540,500]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"d79972ec-910c-491e-917d-8e82c97ed62d","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1420,500]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"70d484d1-fe1f-4fe9-9403-8fce306eb94a","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,320],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jqki4eLy86LoDQY8lL_0_6jupT2YyJew","mode":"list","cachedResultName":"New Leads","cachedResultUrl":"https://drive.google.com/drive/folders/1jqki4eLy86LoDQY8lL_0_6jupT2YyJew"},"event":"fileCreated","options":{}},"id":"10a959b7-2ade-4e4d-b0ea-d9fc5f7c596b","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-200,220]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1jqki4eLy86LoDQY8lL_0_6jupT2YyJew","mode":"list","cachedResultName":"New Leads","cachedResultUrl":"https://drive.google.com/drive/folders/1jqki4eLy86LoDQY8lL_0_6jupT2YyJew"},"event":"fileUpdated","options":{}},"id":"88beb9c0-e58d-43a0-b733-5ab86b329bf4","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-200,420]},{"parameters":{"operation":"text","options":{}},"id":"0e4b11b4-ddd2-46e2-9a86-bf4fe026180c","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1020,520],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"15d7745a-8c7d-4fa3-8a85-d22996498e5b","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,320],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"}]},"options":{}},"id":"a4b35c9a-94e0-44ab-8f6d-7820a4eeacab","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,320]},{"parameters":{"operation":"pdf","options":{}},"id":"a8388afb-430d-47df-b00a-ea0df1e6a9eb","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1020,140]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"54d7cb2f-c780-4f84-995d-9c44ecc0b6fd","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1020,320]},{"parameters":{},"id":"51f0f517-4c45-44b8-9dfb-08a67c934146","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1560,640]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"c5b7db77-c6fd-4e59-acb7-6e8ff269df09","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1220,320]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"},"id":"5894bf77-9e85-4a28-b523-62f1db46babf"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":2}},"id":"e8bf3f4b-6723-461b-b9a8-6d039f3550af","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[620,320]},{"parameters":{"operation":"xlsx","options":{}},"id":"4fc0ab77-36d9-4a0e-86b8-f54f63a2d042","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[800,320]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"f7a122cf-c0b6-40e2-8640-e4a2bc993d98","name":"Insert Into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1420,320]},{"parameters":{"content":"## Delete Old, Download New","height":260,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,240],"id":"a10a2548-72fc-4cc3-bec0-2e4ebab285ef","name":"Sticky Note1"},{"parameters":{"content":"## Switch","height":260,"width":180,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,240],"id":"f6d89913-504f-4ef7-b58e-f6aef1d2cfc9","name":"Sticky Note2"},{"parameters":{"content":"## Extract File Data","height":580,"width":580,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[780,80],"id":"fa348d38-4fb6-42d2-9f12-2e716722b943","name":"Sticky Note3"},{"parameters":{"content":"## Save To RAG Database","height":540,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1380,240],"id":"dba959f5-9387-439e-8135-889ee8dfb6c4","name":"Sticky Note4"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get"},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[0,0],"id":"29ae3087-99a2-4ff9-bec6-a8d0a221d307","name":"Get a file","webhookId":"63771d04-c154-4e4b-8af7-88886e133048"}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"Insert Into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert Into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert Into Supabase Vectorstore","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert Into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Insert Into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5067292a-4317-4e80-bc4f-0579f6d5ac8b","triggerCount":0,"tags":[]}